
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #7A8C88;
    color: #151615; 
    font-family: Arial, sans-serif;
}

.width-wrap {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 2em 2em;
    background-color: #ffffff;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 3em;
}

footer hr {
    width: 100%;
    min-width: 300px;
    max-width: 890px;
    margin-top: 3em;
    margin-bottom: 2em;
    border: none;
    border-bottom: 3px dotted #96007d;
}

header {
    border-top: 4px solid rgba(0, 0, 0, 0.1);
    margin-left: -2em; 
    margin-right: -2em;
    padding-bottom: 1em;
}

header nav {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    margin-left: 2em; 
    margin-right: 2em; 
}

nav a {
    color: #758185;
    font-weight: bold;
    text-decoration: none;
    padding: 1em 1em 0.5em 1em;
    border-top: 4px solid transparent;
    transition: border-color 0.3s ease;
}

nav a:hover {
    color: #b8cbd1;
    border-top: 4px solid #1d6985; 
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

header nav ul li {
    display: inline-block;
}

header nav a {
    display: inline-block;
    vertical-align: top;
    padding-top: 1em; 
    padding-bottom: 0.5em; 
    margin: 0 1em;
    text-align: center; 
}

::selection {
    background-color: #1558d3; 
    color: #151615;
}

dt::after {
    content: ":";
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2em;
}

th, td {
    padding: 0.3em 1em;
}

thead th, tfoot th {
    background-color: rgba(0, 0, 0, 0.2);
    color: #151615;
}

tbody td {
    background-color: rgba(0, 0, 0, 0.05);
}

tbody tr:nth-child(even) td {
    background-color: rgba(0, 0, 0, 0.15);
}

table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
}

form label {
    display: block;
    margin-bottom: 0.5em;
}

form input[type="radio"],
form input[type="checkbox"] {
    display: inline-block;
}

form label[for="radio"],
form label[for="checkbox"] {
    display: inline-block;
}

form input[type="submit"] {
    border: none;
    padding: 1em 3em;
    background-color: #1d6985;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #145d73;
}

form input:invalid {
    background-color: #c5bdbd;
}

body {
    font-family: "Roboto Serif", serif;
    line-height: 1.3;
}
  
h1, h2, h3, h4, h5, h6 {
    font-weight: 700; 
  }
  
.roboto-serif-main {
    font-family: "Roboto Serif", serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


ol {
    list-style-type: upper-roman;
}


iframe {
    border-radius: 0 2em 2em 0;
}


form ul {
    list-style: none;
    padding: 0;
} 

header nav a {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    background: linear-gradient(90deg, #000000 0%, #dd1b0d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; 
}
.bio {
    column-count: 3;
    column-gap: 2em;
}


.bio table {
    column-span: all; 
    break-inside: avoid;
    margin-top: 1em;
    border-collapse: collapse;
}


.bio table td,
.bio table th {
    border: 1px solid rgba(0, 0, 0, 0.1);
}


.bio table caption {
    caption-side: bottom;
    padding-top: 0.5em;
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
}

.my-photo {
    padding: 2%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

footer {
    font-size: 75%;
    text-align: center; 
}

a[href="#top"] {
    display: block;
    margin-top: 1em;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); 
    text-decoration: none;
}

a[href="#top"]:hover {
    text-decoration: none;
}
